<div class="mt-4">

    <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
      合計金額
      <span id="total_price">0</span>
    </li>
  </ul>
</div>


<div class="form-group">
  <label for="land_price">土地価格（万円）</label>
  <%= number_field_tag :land_price, '', class: 'form-control', id: 'land_price' %>
</div>

<div class="form-group">
  <label>建物グレード</label><br>
  <%= radio_button_tag :grade, 'simple', true %> シンプル（65万円/坪）<br>
  <%= radio_button_tag :grade, 'standard' %> スタンダード（85万円/坪）<br>
  <%= radio_button_tag :grade, 'premium' %> プレミアム（120万円/坪）<br>
</div>

<div class="form-group">
  <label>階数</label><br>
  <%= radio_button_tag :floor_type, '1f', true %> 平屋（+5万円/坪）<br>
  <%= radio_button_tag :floor_type, '2f' %> 2階建て<br>
  <%= radio_button_tag :floor_type, '3f' %> 3階建て<br>
</div>

<div class="form-group">
  <label for="tsubo">坪数</label>
  <%= number_field_tag :tsubo, '', class: 'form-control', id: 'tsubo' %>
</div>

<div class="form-group">
  <strong>建物価格：</strong><span id="building_price">0</span>万円
</div>

<fieldset class="form-group">
  <legend>条件（複数選択可）</legend>

  <% Tag.all.group_by(&:category).each do |category, tags| %>
    <div class="mb-3">
      <h5><%= category %></h5>
      <div class="row">
        <% tags.each do |tag| %>
          <div class="col-md-4">
            <%= check_box_tag "selected_tags[]", tag.name, false, class: "tag-checkbox", id: "tag_#{tag.id}" %>
            <%= label_tag "tag_#{tag.id}", tag.name %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</fieldset>