<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <% if user_signed_in? && current_user.email != 'guest@example.com' %>
      <%= link_to 'IeLog', user_path(current_user), class: 'navbar-brand' %>
    <% else %>
      <%= link_to 'IeLog', root_path, class: 'navbar-brand' %>
    <% end %>



    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to '投稿一覧', reviews_path, class: 'nav-link' %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'マイページ', user_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'ログイン', homes_top_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
