<!DOCTYPE html>
<html>
  <head>
    <title>IeLog 管理画面</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <header>
      <%= render 'layouts/admin_header' %>
    </header>

    <main class="flex-grow-1">
      <% if flash[:notice] %>
        <div class="alert alert-success text-center">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger text-center">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer class="footer bg-light text-center text-muted py-4 mt-auto shadow-sm">
      <div class="container">
        <p class="mb-1">© <%= Time.current.year %> IeLog 管理者</p>
      </div>
    </footer>
  </body>
</html>
