<!DOCTYPE html>
<html>
  <head>
    <title>IeLog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'estimate_calc', 'data-turbo-track': 'reload' %>
  </head>

  <header>
    <%= render 'layouts/header' %>
  </header>
  
  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</html>
